.MovieTrailer {
  position: relative;
	height: 100vh;
	width: 100%;
  text-align: left;
  padding-top:  1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MovieTrailer-logo {
  height: 100%;
  margin: 0;
  background-size: 100%
}


.MovieTrailer-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255) ;
}

.MovieTrailer-link {
  color: #fb6661; 
}




#Movie-container{
  position: relative;
  width: 90%;
  height: 90%;
  overflow: hidden;
  padding: 10px;
  display: flex;
  background-color: black;


}

.Movie-info{
  background-color: rgb(0, 0, 0);

  margin-right: 30px;
  flex: 0 1 30%;
  
  color:white;
  display: flex;
  flex-direction: column;
    
}
.movies-img{
    height: 55%;
    width: 80%;
    position: relative;
    background-size: cover;
    background-blend-mode: screen;
    -webkit-mask-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,black),
    color-stop(0.35,black),color-stop(0.5,black),color-stop(0.65,black),
     color-stop(0.85,rgba(0,0,0,0.6)),color-stop(1,transparent),color-stop(0.65,black));
}
.Movie-info .Tiltle{ 
font-weight: 500;
  color:#f44336;
  font-size: 2rem; 
}

.Movie-info h4{
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  color: rgb(226, 238, 248);
  padding-bottom: 60px;
  
}
.Movie-info p{
  color: antiquewhite;
font-size: 15px;
  align-items: center;
 
  justify-content:center;
}
.icon-text{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
span{
  padding-left: 10px;
}
.Form .Label{
  color: white;
  
}

@keyframes MovieTrailer-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

